.grid-container {
  width: 100%;
  columns: 5 250px;
  column-gap: 10px;
  padding: 1.5rem;
}
.grid-container-search {
  width: 100%;
  columns: 5 200px;
  column-gap: 10px;
  padding: 1.5rem;
}
.grid-item {
  height: 100%;
  margin-bottom: 10px;
}

.card {
  position: relative;
}

.card-buttons {
  z-index: 100;
  margin-top: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card:hover .card-buttons {
  display: block;
}

.my-masonry-grid {
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 10px;
}

.my-masonry-grid_item {
  margin-bottom: 10px;
}
